{% extends 'base.html.twig' %}

{% block title %} {{ article.slug }} {% endblock %}

{% block body %}
    <div id="article-block" class="card mb-3 mx-auto " style="width:700px" >
        <h3 class="card-header">{{ article.title }}</h3>
        
        <img class="card-img-top" src="{{ asset(article.urlimage) }}" alt="Card image" style="width:100%">
        <div class="card-body">
            <p class="card-text">{{ article.content }}</p>
        </div>
        <div class="card-body mt-2">
            <a href="/crud/edit/{{ article.id }}" class="btn btn-primary">edit</a>
            <a href="" id="delete-article" class="btn btn-danger " data-id="{{ article.id }}">delete</a>
        </div>
        {% if article.updated|date('Y-m-d') > article.created|date('Y-m-d') %}
                <div class="card-footer text-muted">
                    updated {{ article.updated | date('d/m/Y')}}
                </div>
            {% else %}
                <div class="card-footer text-muted">
                    created {{ article.created | date('d/m/Y')}} 
                </div>
            {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
